Repository poly1603/ldesign-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ldesign-team, @backend-team, @security-team, @database-team, @devops-team, @docs-team, @legal-team, @qa-team, @api-team, @performance-team, @integration-team, @monitoring-team

.github/CODEOWNERS:

# Code Owners for LDesign API Server
# This file defines who is responsible for code in this repository.
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review when someone opens a pull request
* @ldesign-team

# Core application files
/src/ @ldesign-team @backend-team

# Authentication and security
/src/auth/ @ldesign-team @security-team
/src/common/guards/ @ldesign-team @security-team
/src/common/filters/ @ldesign-team @security-team

# Database and entities
/src/entities/ @ldesign-team @database-team
/src/config/database.config.ts @ldesign-team @database-team

# Configuration files
/src/config/ @ldesign-team @devops-team

# Docker and deployment
/docker/ @ldesign-team @devops-team
/Dockerfile @ldesign-team @devops-team
/docker-compose*.yml @ldesign-team @devops-team

# CI/CD and GitHub workflows
/.github/ @ldesign-team @devops-team

# Documentation
/README.md @ldesign-team @docs-team
/CONTRIBUTING.md @ldesign-team @docs-team
/SECURITY.md @ldesign-team @security-team @docs-team
/CHANGELOG.md @ldesign-team @docs-team

# Package management
/package.json @ldesign-team @backend-team
/pnpm-lock.yaml @ldesign-team @backend-team

# Environment and configuration
/.env.example @ldesign-team @devops-team
/.gitignore @ldesign-team

# License and legal
/LICENSE @ldesign-team @legal-team

# TypeScript configuration
/tsconfig*.json @ldesign-team @backend-team

# Linting and formatting
/.eslintrc.js @ldesign-team @backend-team
/.prettierrc @ldesign-team @backend-team

# Testing
/test/ @ldesign-team @qa-team
/jest.config.js @ldesign-team @qa-team

# Database migrations and seeds
/src/migrations/ @ldesign-team @database-team
/src/seeds/ @ldesign-team @database-team

# API documentation
/docs/ @ldesign-team @docs-team @api-team

# Security-sensitive files (require additional review)
/src/auth/strategies/ @ldesign-team @security-team
/src/common/decorators/permissions.decorator.ts @ldesign-team @security-team
/src/config/jwt.config.ts @ldesign-team @security-team
/src/config/redis.config.ts @ldesign-team @security-team

# Performance-critical files
/src/common/interceptors/ @ldesign-team @performance-team
/src/common/filters/all-exceptions.filter.ts @ldesign-team @performance-team

# Third-party integrations
/src/integrations/ @ldesign-team @integration-team

# Monitoring and logging
/src/common/interceptors/logging.interceptor.ts @ldesign-team @monitoring-team
/src/entities/system-log.entity.ts @ldesign-team @monitoring-team

feat: 添加验证码功能并实现API文档系统
  .vercel/project.json
  api-docs/env.d.ts
  api-docs/index.html
  api-docs/package.json
  api-docs/pnpm-lock.yaml
  api-docs/src/App.vue
  api-docs/src/assets/main.css
  api-docs/src/main.ts
  api-docs/src/router/index.ts
  api-docs/src/views/ApiDocView.vue
  api-docs/src/views/HomeView.vue
  api-docs/tsconfig.json
  api-docs/vite.config.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/captcha.controller.ts
  src/auth/captcha.module.ts
  src/auth/captcha.service.ts
  src/auth/dto/captcha.dto.ts
  src/auth/dto/login.dto.ts
  src/auth/dto/register.dto.ts
  src/controllers/app.controller.ts
  src/controllers/articles.controller.ts
  src/controllers/users.controller.ts
  src/dto/article.dto.ts
  src/dto/user.dto.ts
  src/interfaces/article.interface.ts
  src/interfaces/user.interface.ts
  src/services/app.service.ts
  src/services/articles.service.ts
  src/services/users.service.ts
  tsconfig.build.json
  tsconfig.json
Owners: @ldesign-team, @backend-team, @security-team

Initial commit: ldesign-server
  .gitignore
  README.md
  package.json
  scripts/seed.ts
  src/app.ts
  src/config/swagger.ts
  src/core/TaskManager.ts
  src/database/index.ts
  src/index.ts
  src/middleware/errorHandler.ts
  src/middleware/requestLogger.ts
  src/programmatic.ts
  src/routes/builder.ts
  src/routes/builds.ts
  src/routes/dependencies.ts
  src/routes/deployments.ts
  src/routes/files.ts
  src/routes/git.ts
  src/routes/health.ts
  src/routes/index.ts
  src/routes/logs.ts
  src/routes/monitor.ts
  src/routes/node-manager.ts
  src/routes/npm-registry.ts
  src/routes/project-tasks.ts
  src/routes/projects.ts
  src/routes/swagger.ts
  src/routes/tasks.ts
  src/routes/tests.ts
  src/routes/tools.ts
  src/types/index.ts
  src/utils/logger.ts
  src/utils/response.ts
  tsconfig.json
  tsup.config.ts
Owners: @ldesign-team, @docs-team, @backend-team, @devops-team

Add programmatic API, Swagger, and new routes (builder, node-manager, npm-registry, project-tasks)
  package.json
  src/app.ts
  src/config/swagger.ts
  src/index.ts
  src/programmatic.ts
  src/routes/builder.ts
  src/routes/files.ts
  src/routes/health.ts
  src/routes/index.ts
  src/routes/node-manager.ts
  src/routes/npm-registry.ts
  src/routes/project-tasks.ts
  src/routes/projects.ts
  src/routes/swagger.ts
  src/utils/logger.ts
  tsup.config.ts
Owners: @ldesign-team, @backend-team, @devops-team

feat: 初始化 NestJS API Server 项目
  .env.example
  .eslintrc.js
  .gitignore
  .prettierrc
  ARCHITECTURE.md
  CHANGELOG.md
  PROJECT_SUMMARY.md
  README.md
  nest-cli.json
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/common/decorators/api-response.decorator.ts
  src/common/dto/response.dto.ts
  src/common/exceptions/business.exception.ts
  src/common/filters/http-exception.filter.ts
  src/common/interceptors/logging.interceptor.ts
  src/common/interceptors/transform.interceptor.ts
  src/config/configuration.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/main.ts
  src/users/dto/create-user.dto.ts
  src/users/dto/update-user.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  tsconfig.build.json
  tsconfig.json
Owners: @ldesign-team, @devops-team, @backend-team, @docs-team, @security-team, @monitoring-team, @performance-team, @qa-team

chore(env): 更新端口配置及日志相关环境变量
  .env.example
  ARCHITECTURE.md
  OPTIMIZATION_GUIDE.md
  PROJECT_SUMMARY.md
  README.md
  package-lock.json
  package.json
  src/app.module.ts
  src/common/filters/http-exception.filter.ts
  src/common/interceptors/logging.interceptor.ts
  src/config/configuration.ts
  src/logger/logger.config.ts
  src/logger/logger.module.ts
  src/logger/logger.service.ts
  src/main.ts
  src/system/dto/system-info.dto.ts
  src/system/system.controller.ts
  src/system/system.module.ts
  src/system/system.service.ts
Owners: @ldesign-team, @devops-team, @docs-team, @backend-team, @security-team, @monitoring-team

feat(projects): 添加项目管理模块及相关功能
  data/ldesign.db
  docs/IMPROVEMENTS.md
  docs/IMPROVEMENTS_LOCAL.md
  docs/LOGGING.md
  docs/PROJECT_DETECTION.md
  docs/QUICK_START_SECURITY.md
  package-lock.json
  package.json
  scripts/README.md
  scripts/tail-logs.ps1
  scripts/view-logs.ps1
  src/app.module.ts
  src/common/filters/http-exception.filter.ts
  src/main.ts
  src/projects/dto/launcher.dto.ts
  src/projects/dto/project.dto.ts
  src/projects/entities/operation-log.entity.ts
  src/projects/entities/project-operation.entity.ts
  src/projects/entities/project.entity.ts
  src/projects/launcher.gateway.ts
  src/projects/projects.controller.ts
  src/projects/projects.module.ts
  src/projects/projects.service.ts
  src/service/launcher.service.ts
Owners: @ldesign-team, @docs-team, @api-team, @backend-team, @security-team

chore: 更新数据库文件ldesign.db
  data/ldesign.db
Owners: @ldesign-team

chore: 更新数据库文件 ldesign.db
  data/ldesign.db
  package-lock.json
Owners: @ldesign-team
